<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    
    <div id="main"></div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
       <script src="{{ url_for('static', filename='bower_components/react/JSXTransformer.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/queue-async/queue.min.js') }}"></script>  
  <script src="{{ url_for('static', filename='bower_components/topojson/topojson.js') }}"></script> 


<script type="text/javascript">



</script>

    <script type="text/jsx">
/** @jsx React.DOM */


var SetIntervalMixin = {
  componentWillMount: function() {
    this.intervals = [];
  },
  setInterval: function() {
    this.intervals.push(setInterval.apply(null, arguments));
  },
  componentWillUnmount: function() {
    this.intervals.map(clearInterval);
  }
};

var Circle = React.createClass({
    mixins: [SetIntervalMixin], 
    getDefaultProps: function() {
        return {
            r: 0,
            fill: 0.5,
            cx: 0,
            cy: 0,
            opacity: 0.9,
            id: ''
        }
    },
    
    getInitialState: function() {
      return {
        milliseconds: 0,
        r: 0,
        fill: 0.5,
        sw: 1,
        s: 'silver'
      };
    },
    
    shouldComponentUpdate: function(nextProps) {
      return this.props.r !== this.state.r || this.props.fill !== this.state.fill;
    },
    
    componentWillReceiveProps: function(nextProps) {
      this.setState({milliseconds: 0, r: this.props.r, fill: this.props.fill});
    },
    
    componentDidMount: function() {
      this.setInterval(this.tick, 10);
    },
    
    tick: function(start) {
      this.setState({milliseconds: this.state.milliseconds + 10});
    },
    showStation: function(e){
      $('#station').show().text(e.target.id).css('color', e.target.getAttribute('fill'))

    },

    render: function() {
      var easyeasy = d3.ease('back-out');
      var r = this.state.r + (this.props.r - this.state.r) * easyeasy(Math.min(1, this.state.milliseconds/1000));

      var colorScale = this.props.colorScale

      var fill = colorScale(this.state.fill + (this.props.fill - this.state.fill) * easyeasy(Math.min(1, this.state.milliseconds/1000)));

        return (
      <circle onMouseOver = {this.showStation}
                cx = {this.props.cx}
                cy = {this.props.cy}
                r =  {r}
                fill = {fill}
                id = {this.props.id}
                opacity = {this.props.opacity}
                stroke = {this.state.s}
                stroke-width = {this.state.sw}
                >
           </circle>
        );
    },
});

var Path = React.createClass({ 
    render: function() {
      var d = this.props.d
        return (
      <path
                d = {d}
                fill = {'black'}>
           </path>
        );
    },
});

var Hood = React.createClass({
  getDefaultProps: function() {
    return {
      hoods: []
    }
  },

  shouldComponentUpdate: function(nextProps) {
      return this.props.hoods !== nextProps.hoods;
  },

  render: function() {
    var hoods = this.props.hoods;

    var pathGenerator = this.props.pathGenerator;

    var paths = hoods.map(function(hood,i) {
      return (
  <Path
     d = {pathGenerator(hood)}
      key = {i}/>
      )
    });

    return (
          <g>{paths}</g>
    );
  }
}); 


var Terminal = React.createClass({
  getDefaultProps: function() {
    return {
      terminals: []
    }
  },

  shouldComponentUpdate: function(nextProps) {
      return this.props.terminals !== nextProps.terminals;
  },

  render: function() {
    var terminals = this.props.terminals;
    var projection = this.props.projection;

    var colorScale = d3.scale.linear()
        .domain([0, .45,.55, 1])
        .range(["red", "green","green", "blue"])
        .clamp(true)

    var rScale = d3.scale.linear()
          .domain([0,26])
           .range([2,15])
           .clamp(true)

    var circles = terminals.map(function(terminal, i) {

      var size = +terminal.bikes_avail
      var coord = [+terminal.long,+terminal.lat]

      return (
  <Circle
      cx = {projection(coord)[0]}
      cy = {projection(coord)[1]}
      r =  {rScale(size)}
      fill = {terminal.fill}
      opacity = {.9}
      colorScale = {colorScale}
      id = {terminal.terminal}
      key = {terminal.terminal}/>
      )
    });

    return (
          <g>{circles}</g>
    );
  }
}); 



var Map = React.createClass({
    render: function() {
        return (
            <svg width={this.props.width} 
                 height={this.props.height} >
              {this.props.children}
            </svg>
        );
    }
});


App = React.createClass({
  getDefaultProps: function() {
    return {
      width: 960,
      height: 700
    };
  },

  getInitialState: function() {
    return {
      hoods: [],
      terminals: [],
      time: ''
    };
  },

  componentWillMount: function() {
    var cmp = this;

    queue()
      .defer(d3.json, "{{ url_for('static', filename='map/seattletopo.json') }}")
      .await(function(error, hoods) {
        cmp.setProps({
          hoods: topojson.feature(hoods,hoods.objects.Seattle).features
        });
      });
        cmp.setState({
          terminals: {{terminals|safe}},
          time: {{time|safe}}
        });
  },

  simulate: function(){
    var cmp = this
    $('#station').fadeOut(400)
    $.ajax({
        url: '/simulation/',
        data: {data: JSON.stringify({'hour': $('#hours option:selected').val()})},
        type: 'POST',
        success: function(response) {
          var response = response.response
          var i = 0, howManyTimes = response.length;
            function f() {
              cmp.setState({
                  terminals: response[i]
              });

              var time = cmp.state.time;
              if (time.hour < 23){
                time.hour++;
              } else {
                time.hour = 0;
              }
              cmp.setState({
                  time: time
              });

              i++;
              if( i < howManyTimes ){
                  setTimeout( f, 550 );
                }
            }
            f();  

        },
        error: function(error) {
            console.log(error);
        }
    });



  },


  render: function() {
    var cmp = this;

    var svg = React.DOM.svg;

  var projection = d3.geo.albers()
      .scale( 450000 )
      .rotate( [122.335167,0] )
      .center( [0, 47.608013] )
      .translate( [590/2,1000/2] );

    var counties = this.state.counties
    var terminals = this.state.terminals

    var pathGenerator = d3.geo.path().projection(projection);

    var red = {color: 'red'}
    var green = {color: 'green'}
    var blue = {color: 'blue'}

    return (
      <div class="container">
            <Map  width={this.props.width} height= {this.props.height}>
                <Hood hoods = {this.props.hoods} pathGenerator = {pathGenerator}/>
                <Terminal terminals = {this.state.terminals} projection = {projection}/>
            </Map>
          <div id = 'info'>
             <h1>Pronto! Predicted</h1>
             <p>
             Welcome to Pronto! Predicted, an app that predicts bike availability up to 24 hours into the future based on current bike availability data from Pronto’s server and weather forecasts from Wunderground.
             </p> 
             <p>
              Each circle represents a Pronto terminal. The size corresponds to the current number available bikes and the color corresponds to inventory, where red is  <span style = {red}>empty</span>, green is <span style = {green}>50%</span>, and blue is <span style = {blue}>full</span>. 
             </p>
             <p>
                Select the number hours to look ahead and click 'Go!'.
             </p>
             <p>

             </p>
             <div className = 'row'>
               <div className = "col-xs-3">
                  <select id='hours' className ="form-control">
                    {% for i in range(1,25) %}
                      <option value = '{{i}}'>{{i}}</option>
                    {% endfor %}        
                  </select>
              </div>
              <button id = 'go' onClick={this.simulate} className= "btn btn-primary">Go!</button>
            </div>
          </div>
        <h1 id = 'time'>{this.state.time.hour}:{this.state.time.minute}:{this.state.time.second} </h1>
        <h1 id = 'station'></h1>
        </div>)
}

});

React.render(
  <App />,
  document.getElementById('main'));
</script>
  </body>



</html>